@using System.Security.Principal

<div class="jumbotron">

  <h1>Welcome to the App-Owns-Data Multi-Tenant App</h1>

  <p>
    This developer sample application was created to demonstrate managing a multi-tenant environment which implements App-Owns-Data embedding using 
    service principal profiles. An application design like this can scale to over 100,000 customer tenants while
    also optimizing Power BI REST API calls and ensuring true dataset and datasource credential isolation
    at the level of the customer tenant
  </p>

</div>