@using System.Security.Principal

<div class="jumbotron">

  <h1>Welcome to the Service Principal Profile Demo App</h1>

  <p>
    This application was created to demonstrate managing a multi-tenant environment with
    Power BI embedding. This application automates the provisioning of service principal profiles and using them to manage
    customer tenants using Power BI workspaces.
  </p>

</div>