@model IList<Microsoft.PowerBI.Api.Models.ServicePrincipalProfile>

<h2>Service Principal Profiles in Power BI</h2>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Display Name</th>
      <th>ID</th>
    </tr>
  </thead>
  @foreach (var profile in @Model) {
    <tr>
      <td>@profile.DisplayName</td>
      <td>@profile.Id</td>
    </tr>
  }
</table>